@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #0F1624;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
    font-family: 'Poppins', sans-serif;
}

/* .btn {
    @apply bg-gradient-to-r from-midindigo from-10% via-midcyan via-30% to-midblue to-90% text-white  rounded-full font-semibold

} */


.un {
    display: inline-block;
  }
  
  .un::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(255, 255, 255);
    transition: 300ms;
  }
  
  .un:hover::after {
    width: 100%;
  }

  